# This workflow will build wglinfo on Windows
name: Build (Windows/MSVC)

on:
  workflow_call:

jobs:
  build-windows-msvc:
    runs-on: windows-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4.1.7
      with:
        fetch-depth: 0

    - name: Setup MSVC
      uses: ilammy/msvc-dev-cmd@v1.13.0
      with:
        arch: x64

    - name: Install dependencies
      run: |
        choco install cmake --installargs 'ADD_CMAKE_TO_PATH=System' -y

    - name: Configure wglinfo
      run: |
        mkdir "build"
        cmake -T host=x64 -D BUILD_TREAT_WARNINGS_AS_ERRORS=ON -S . -B "./build" -D CMAKE_INSTALL_PREFIX="install"

    - name: Build wglinfo
      run: |
        cmake --build "./build" --config Release -- /m
        cmake --build "./build" --config Release --target install

    - name: Run wglinfo
      run: |
        install/wglinfo.exe
        install/wglinfo.exe > install/wglinfo.log

    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        name: wglinfo-msvc
        path: install
